<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EbayPreisBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EbayPreisBot.Properties.Settings.k117886_ebayscoutConnectionString"
            connectionString="User Id = k117886_admin; Password = !WASSer://;Host=91.204.46.25;Database=k117886_ebayscout;Persist Security Info=False"
            providerName="Devart.Data.MySql" />
        <add name="EbayPreisBot.Properties.Settings.k117886_ebayscoutConnectionString1"
            connectionString="User Id = k117886_admin; Password = !WASSer://;Host=91.204.46.25;Database=k117886_ebayscout;Persist Security Info=False"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EbayPreisBot.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
        </EbayPreisBot.Properties.Settings>
    </userSettings>
</configuration>