<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="EbayPreisBot.Properties.Settings.k117886_ebayscoutConnectionString"
          connectionString="User Id=k117886_admin;Password=!WASSer://;Host=91.204.46.25;Database=k117886_ebayscout;Persist Security Info=True"
          providerName="Devart.Data.MySql" />
      <add name="EbayPreisBot.Properties.Settings.k117886_ebayscoutConnectionString1"
          connectionString="User Id=k117886_admin;Password=!WASSer://;Host=91.204.46.26;Database=k117886_ebayscout;Persist Security Info=True"
          providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>