<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>Ol86ffgToFremvZUdVwSpag9p+6A4nmf3EdANJdSHw9UNryuWpATnh1hFoZY8n3LFYcs1IqtGAEjmEYL4twKG4klE0Dw3FIphI7BmcbENFGZt2UOhykxnVlvckJLuANY99M8gl6n5ZUCZiIB7Q70Ej7fvrnhUV2vwgEFxQb10UfM0m5pTSPJiVHHcswkzN7ClBOHvVIi7U14ajJ2NzNYRU3LBy8Qb5t6XvJ/AjhzEHyBRd3a4k4Tn+PHz7quR0k3tzoLBEk+wx15otlorIdzZEjjfMIf+DFtE8qOhaT2X2ADWurY3YRlNCP0tYb4lDUErb2MI8RfjndGnEZQm/qL0A==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>yBwGMkFvMHDC0Ld7kpjw4jjBTRkGavSBmtYF5JOpk4uL/vSOTpItVEFXpiz37hI8</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>